src/main/resources/META-INF/wsdl/MyScheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="theme" type="xs:string"/>
                <xs:element name="description" type="DescriptionType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="DescriptionType">
        <xs:sequence>
            <xs:element name="part" type="xs:string"/>
            <xs:element name="paragraph" type="xs:int"/>
            <xs:element name="homework" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>